.home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    text-align: center;
}

.homeBackground{
    height: 90%;
    background-image: linear-gradient(#c4fefc, #c4fefc, #14C9C3)
}

.homeFont{
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    color: #0c706d;
}

.errMessage{
    font-family: 'Quicksand', sans-serif;
    color: #a30202;
    text-align: left;
}

@media screen and (max-width: 500px) {
    
    .home{
        width: 75%;
        top: 25%;
    }

    .homeFont{
        font-size: medium;
    }
}

@media screen and (max-width: 925px) {
    
    .home{
        width: 75%;
        top: 25%;
    }
}

.homeBar{
    font-family: 'Quicksand', sans-serif;
    color: #0c706d;
}

.btn {
    background-color: #14C9C3;
    border-color: #14C9C3;
    font-family: 'Quicksand', sans-serif;
    color: #0c706d;
    --bs-btn-hover-bg: #06918c;
}