.shelter-container{
    width: 50%;
}

.shelter-list{
    margin: 10px;
}

.shelter-item{
    margin: 10px;
    padding: 25px;
    border: none;
    background-image: linear-gradient(#c4fefc, #c4fefc, #14C9C3);
    font-family: 'Quicksand', sans-serif;
    color: #0c706d;
}

a:link, a:visited{
    color: #0c706d;
    text-decoration: none;
}

.shelterDescription{
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 925px) {
    
    .shelter-container{
        width: 100%;
    }
}